*{    margin: 0;padding: 0;box-sizing: border-box;
    list-style: none;text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* color */
    --colorWhite: rgb(255, 255, 255);
    --colorblack: rgb(0, 0, 0);
    --colorRed: rgb(255, 0, 0);
    --colorGreen: rgb(0, 255,0);
    --colorCrimson: rgb(222, 15, 81);
    --colorAqua: rgb(1, 255, 238);
    --colorPurple: rgb(61, 17, 119);
    --colorBlue: rgb(30, 7, 164);
    --colorGrey: rgb(113, 112, 112);
    /* end of color */
    /* color transparent of white,balck,grey */
    --colorWhite: rgba(255, 255, 255, 0.155);
    --colorblack: rgba(0, 0, 0, 0.176);
    --colorGrey: rgba(113, 112, 112, 0.205);
     /* start elemetn color */
     --bodyBg: rgb(6, 2, 28);
     --bodyFOnt: rgb(252, 252, 252);
     --bodyFOntLight: rgba(177, 173, 195, 0.229);
     --ContainerBg: rgba(10, 9, 26, 0.943);
     --boxBg:rgba(68, 56, 115, 0.252);
     --boxBorder:rgba(74, 73, 80, 0.252);
     --boxShadow:rgba(58, 29, 106, 0);
     --primaryColor:rgb(255,100,0);
     --secondaryColor:rgba(24, 187, 100, 0.986);
     --scrollbarBgColor:rgba(21, 2, 47, 0.986);
     --scrollbarThumbColor:rgba(249, 243, 254, 0.278);
     --gradientBg1:linear-gradient(to bottom right,var(--containerBg),var(--boxBg));

}
body{width:100%;height:100vh;margin: 0;padding:1rem;background-color:var(--bodyBg);color: var(--bodyFOnt);position: relative;}

/* nav style */
nav{width: 100%;position: fixed;top: 0;left: 0;z-index:1;height:4rem;padding:1rem;background-color: var(--bodyBg);}
/* nav #user-icon{position: absolute;top: 50%;right:5%;transform: translateY(-50%);} */
nav #site-logo #logoName{font-size:1.5rem;}
nav #site-logo #stethoscope-icon{transform: rotate(45deg);font-size:2rem;}

main{margin-top: 5rem;min-height: 100%;width: 100%}
main #services,main #services #all-service{width: 100%;height: 100%;margin-top: 2rem;}

main #services #all-service #eachService{background-color: var(--boxBg);width:40%;}
@media(max-width:550px){
    main #services #all-service #eachService{width:90%;}
}

main #services #all-service{display: flex;justify-content:center;flex-wrap: wrap;align-items: center;gap: 1rem;}

#eachService{padding:1.5rem;display: flex;justify-content:space-between;align-items: center;gap: .5rem;}
#eachService .service-icon i{font-size:1.7rem;}
/* #eachService .service-icon .service-name{margin-top:.5rem;font-size:1.3rem;} */

/* main #services #emergency-service{background-color: crimson;} */
main #services #emergency-service #EmergencyModeBtn{width: 10rem;height: 10rem;border-radius: 50%;color:var(--bodyFOnt);margin-top: 2rem;}



#account-dashboard{background-color: var(--bodyBg);width:70%;padding:1rem;max-width:350px;position:fixed;top:9%;right:1rem;height:400px;z-index: 10;}
@media(max-width:1000px){#account-dashboard{height:60vh;}}




@media(max-width:1000px){:root{font-size: 15px;}}
@media(max-width:800px){:root{font-size: 12px;}}
@media(max-width:600px){:root{font-size: 11px;}}
@media(max-width:500px){:root{font-size: 10px;}}
@media(max-width:400px){:root{font-size: 9px;}}